{
  "openapi": "3.1.0",
  "info": {
    "title": "Pullwise Project Expense Ledger API",
    "version": "0.9.0",
    "description": "Current ledger contract for Pullwise, the project expense tracker for\ndevelopers and teams at pull-wise.com. Users and authorized API clients\nenter expenses; bank or vendor transactions are not imported. Platform\nsubscription payments remain separate from ledger expenses.\nWeb uses its same-origin /api proxy; direct\nclients call these paths on the Server Worker. All private responses are\nCache-Control: no-store. Money is grouped by currency without conversion.\nEach user's existing personal ledger is an immutable workspace. Explicit\ninvitations share all existing and future ledger data after the original\ninviter approves the authenticated applicant. Links do not require a named\nrecipient. Pending or rejected requests grant no ledger access. Invitations\ndo not grant GitHub organization or repository access. Select a ledger with\nX-Pullwise-Workspace, or workspaceId on CSV links. Conflicting selectors are\nrejected. API keys are permanently bound to one ledger and intersect the\nissuing member's current role; membership revision changes invalidate team\nkeys. All members use the ledger owner's plan, capacity and model budget.\nAccount billing remains the signed-in user's own account service.\nProjects can be standalone with a nonblank name and no GitHub repository or\norganization association. Connecting repositories is optional and continues\nto require the current actor's GitHub authorization. The shared expense pool\nis shared across projects in a ledger, never publicly accessible. AI assistance\ndepends on the ledger owner's Pro or Max plan, current activation and usage budget;\nan explicit category permits manual entry when assistance is unavailable.\nProject development and product links are optional absolute HTTP(S) URLs.\nOnly the selected ledger Owner using a current cookie session or an API key\nwith projects:write and permission for that project may remove a\nproject. Removal is a soft tombstone, distinct from reversible archiving:\nthe project and its expenses disappear from resource reads, reports and\nexports, and its recurring plans cannot generate further expenses. Stored\nfinancial records, audit history and commercial capacity accounting remain\nintact. Repository associations are released atomically; removed projects\ncannot be restored through PATCH.\nRecurring expense rules use the same REST resource for browser sessions and\nAPI keys with explicit expense authority. A key-created or key-resumed rule\nretains only a credential hash; execution rechecks its current key scopes,\nexpiration, revocation, ledger binding and target restrictions. Each\ngenerated occurrence uses the current ledger owner's plan and the rule\nsaved execution actor's current membership and GitHub access. A rule records one ordinary\nexpense per calendar period without making a payment or extending a\nsubscription. Stopping a rule preserves its previously recorded expenses.\nEmail verification codes provide independent registration and sign-in.\nGitHub identity and repository connections are optional. Verified email and\nexplicit GitHub links preserve the immutable account ID, personal ledger,\nmemberships and billing. Matching provider or billing contact emails never\nmerge accounts. Authentication endpoints do not grant API-key scopes.\nProject and shared-pool activity records identify the authenticated actor,\noperation time and exact changed record. Only the latest rolling 24 hours\nare visible, using the Server clock. History starts when activity logging\nis enabled; old financial audit events are not backfilled or deleted.\nMember governance requires explicit members:read or members:write scopes.\nGovernance keys must omit projectIds, and every key remains bound to its\none ledger and issuer's current role. Owner/Admin can manage members; only\nOwner can manage Admin, and only an invitation's original inviter can review\nits applicants. Previewing or applying to an invitation uses the applicant's\nbrowser account session rather than a ledger-bound key.\n"
  },
  "servers": [
    {
      "url": "https://preview-api.pull-wise.com",
      "description": "Preview environment; use keys created in preview.pull-wise.com"
    },
    {
      "url": "https://api.pull-wise.com",
      "description": "Production endpoint; ledger access is currently paused"
    },
    {
      "url": "/",
      "description": "Relative Server paths; Web proxies these through its /api prefix"
    }
  ],
  "security": [
    {
      "cookieSession": []
    },
    {
      "bearerKey": []
    }
  ],
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Ledger"
    },
    {
      "name": "Reports"
    },
    {
      "name": "API Keys"
    },
    {
      "name": "Account Billing"
    }
  ],
  "paths": {
    "/billing": {
      "get": {
        "operationId": "getAccountBilling",
        "x-pullwise-scope": "account:billing",
        "tags": [
          "Account Billing"
        ],
        "security": [
          {
            "cookieSession": []
          }
        ],
        "description": "Read the signed-in actor's own platform subscription account and personal-ledger capacity. API keys and Bearer session tokens are rejected. A workspace selector does not change billing ownership. Platform payments never create ledger expenses; ledgerUsage uses the actor's personal effective plan and current active expense count.",
        "responses": {
          "200": {
            "description": "Private account billing and personal-ledger capacity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "503": {
            "description": "SERVER_UNAVAILABLE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/billing/plan": {
      "get": {
        "operationId": "getPublicBillingPlan",
        "x-pullwise-scope": "account:billing",
        "tags": [
          "Account Billing"
        ],
        "security": [],
        "description": "Read the fresh verified public plan catalog and current configured\nentitlements. A current cookie session may additionally receive account\nand ledgerUsage for that actor's personal ledger. Bearer credentials are\nignored for personalization, even if a cookie is also sent; invalid or\nconcurrently revoked cookie authentication falls back to public data.\nPublic responses omit account and ledgerUsage entirely. A missing or\nexpired trusted catalog returns BILLING_CATALOG_UNAVAILABLE rather than\ninventing provider prices. This endpoint never calls the payment provider,\ninitializes capacity or grants a subscription through a GET.\n",
        "responses": {
          "200": {
            "description": "Public catalog with optional cookie-only personal account and capacity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingCatalog"
                }
              }
            }
          },
          "503": {
            "description": "BILLING_CATALOG_UNAVAILABLE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api-keys": {
      "get": {
        "operationId": "listAccountApiKeys",
        "x-pullwise-scope": "account:keys",
        "tags": [
          "API Keys"
        ],
        "security": [
          {
            "cookieSession": []
          }
        ],
        "description": "List the signed-in actor's unrevoked key metadata. Bearer keys cannot manage credentials. An optional workspace selector filters keys to that accessible ledger; without a selector the actor's keys across ledgers are listed. Reads never return tokens or hashes.",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          },
          {
            "$ref": "#/components/parameters/WorkspaceQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Key metadata; apiKeys is a compatibility alias of items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "apiKeys"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiKey"
                      }
                    },
                    "apiKeys": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiKey"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/InvalidInput"
          }
        }
      },
      "post": {
        "operationId": "createAccountApiKey",
        "x-pullwise-scope": "account:keys",
        "tags": [
          "API Keys"
        ],
        "security": [
          {
            "cookieSession": []
          }
        ],
        "description": "Use the signed-in actor's browser session and a trusted app Origin.\nSelect a ledger with X-Pullwise-Workspace or restrictions.workspaceId;\nselectors must agree. Omission binds to the actor's personal ledger.\nScopes cannot exceed the actor's current selected-ledger role.\nExplicit members scopes require omitting projectIds, including an empty\nallowlist; conflicting scopes/restrictions return INVALID_RESTRICTION.\nA selected team ledger's current membership revision is stored by the\nServer; role or membership changes invalidate its existing keys.\nThe response displays key once. Store it in your application's secret\nstorage; the Server stores only its hash and cannot recover the token.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          },
          {
            "$ref": "#/components/parameters/AuthOrigin"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKeyInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Metadata and one-time Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiKey"
                    },
                    {
                      "type": "object",
                      "required": [
                        "key"
                      ],
                      "properties": {
                        "key": {
                          "type": "string",
                          "pattern": "^pwk_[A-Za-z0-9_-]{43}$"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "INVALID_SCOPE or INVALID_RESTRICTION; malformed input or expiry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api-keys/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Id"
        }
      ],
      "delete": {
        "operationId": "revokeAccountApiKey",
        "x-pullwise-scope": "account:keys",
        "tags": [
          "API Keys"
        ],
        "security": [
          {
            "cookieSession": []
          }
        ],
        "description": "Revoke one key issued by the signed-in actor using its real browser session and a trusted Origin. Revocation is immediate and remains available after commercial write quota exhaustion. Other actors cannot revoke this key. This route returns 200 with JSON rather than 204.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthOrigin"
          }
        ],
        "responses": {
          "200": {
            "description": "Key revoked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "id",
                    "revoked"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "id": {
                      "type": "string"
                    },
                    "revoked": {
                      "const": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/api/v1/account/expense-retention": {
      "get": {
        "operationId": "getAccountExpenseRetentionPreference",
        "x-pullwise-scope": "account:auth",
        "security": [
          {
            "cookieSession": []
          }
        ],
        "tags": [
          "Authentication"
        ],
        "description": "Read the actual cookie account Owner's expense capacity policy for its\npersonal ledger. Ledger selectors cannot select another Owner's policy;\nAPI keys, Bearer sessions and mixed credentials are rejected. Missing\nlegacy fields mean autoRemoveOldestExpense false and revision 1.\nMalformed persisted preferences fail closed. Available on every plan.\nThis read never initializes state, removes expenses or changes usage.\n",
        "responses": {
          "200": {
            "description": "Owner's stored expense capacity policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountExpenseRetentionPreference"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "503": {
            "description": "RETENTION_PREFERENCE_UNAVAILABLE for malformed persisted preference state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateAccountExpenseRetentionPreference",
        "x-pullwise-scope": "account:auth",
        "security": [
          {
            "cookieSession": []
          }
        ],
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IfMatch"
          },
          {
            "$ref": "#/components/parameters/AuthOrigin"
          }
        ],
        "description": "Save the actual cookie account Owner's personal-ledger policy using a\ntrusted app Origin or Referer and its independent preference revision.\nChanging the setting does not remove existing expenses, reset usage or\nincur an extra charge. A matching revision and unchanged value returns\n200 without a write. Every plan can change this policy.\nWhen disabled, creating an expense at capacity returns RECORD_LIMIT.\nWhen enabled and exactly at capacity, an otherwise authorized ordinary\nor recurring expense creation atomically soft-removes one globally\noldest active expense and creates the new one. Ordering is occurredOn,\nthen createdAt, then id. The creation actor must currently be authorized\nto delete that actual oldest target; restricted keys cannot skip it for\nanother target (RETENTION_TARGET_FORBIDDEN). Above capacity, creation\nreturns RETENTION_CLEANUP_REQUIRED until manual cleanup brings usage\nwithin the limit. Historical audits, creation replays and occurrence\nidentities remain intact; replay never removes another expense.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "autoRemoveOldestExpense"
                ],
                "properties": {
                  "autoRemoveOldestExpense": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmed policy; revision increments only on an actual change",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountExpenseRetentionPreference"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "description": "PREFERENCE_REVISION_EXHAUSTED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "422": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "428": {
            "description": "Current preference If-Match is required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "RETENTION_PREFERENCE_UNAVAILABLE or SERVER_UNAVAILABLE; no automatic retry after an unknown write outcome",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/account/jev": {
      "get": {
        "operationId": "getAccountJevPreference",
        "x-pullwise-scope": "account:auth",
        "security": [
          {
            "cookieSession": []
          }
        ],
        "tags": [
          "Authentication"
        ],
        "description": "Read the actual cookie account's persisted Jev preference. Ledger\nselectors do not select another account for this endpoint. API keys and\nmixed credentials are rejected. Missing legacy fields mean enabled true\nand revision 1; malformed persisted preference fields fail closed.\nFree accounts may read their retained preference, but available is false.\nThis read does not initialize state, call providers or change usage.\n",
        "responses": {
          "200": {
            "description": "Stored preference and effective availability for the signed-in account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountJevPreference"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "503": {
            "description": "JEV_PREFERENCE_UNAVAILABLE for malformed persisted preference state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateAccountJevPreference",
        "x-pullwise-scope": "account:auth",
        "security": [
          {
            "cookieSession": []
          }
        ],
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IfMatch"
          },
          {
            "$ref": "#/components/parameters/AuthOrigin"
          }
        ],
        "description": "Only the actual cookie account with a current Pro or Max plan may change\nits preference. Requires a trusted app Origin or Referer and the current\nindependent preference revision, never a billing or workspace revision.\nSave the complete canonical user record with session and raw-user CAS\nguards, preserving identity, billing, membership and quota state.\nA matching revision and unchanged enabled value returns 200 without writes.\nThe preference controls all model calls for this account's own ledger,\nincluding its members and API keys. Turning it off prevents new model\nadmissions, reservations and events. In-flight calls retain admitted\nfees but cannot publish hints or financial writes from the old authority.\nManual expenses and the paid inspection's local duplicate check remain\navailable. Turning it on does not bypass runtime flags or reset limits.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "enabled"
                ],
                "properties": {
                  "enabled": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmed preference, with an incremented revision only after an actual change",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountJevPreference"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "JEV_PLAN_REQUIRED for Free or expired account plans; or UNTRUSTED_ORIGIN",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "AUTHORIZATION_CHANGED or PREFERENCE_REVISION_EXHAUSTED; do not retry automatically",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "412": {
            "description": "PRECONDITION_FAILED for a stale preference revision; reload before choosing again",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "INVALID_INPUT for an invalid body or revision",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "428": {
            "description": "PRECONDITION_REQUIRED when If-Match is absent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "JEV_PREFERENCE_UNAVAILABLE for malformed persisted preference state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/session": {
      "get": {
        "operationId": "getAccountSession",
        "x-pullwise-scope": "account:auth",
        "security": [],
        "tags": [
          "Authentication"
        ],
        "description": "Read the current cookie session without initialization, provider calls or token refresh. An absent or expired session returns authenticated false and user null. Verified email sessions remain valid independently of GitHub authorization; GitHub contact email and billing email are not verified login identities.",
        "responses": {
          "200": {
            "description": "Current session; authenticated users may have email, GitHub or both providers",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/NoStore"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSession"
                }
              }
            }
          }
        }
      }
    },
    "/auth/sign-out": {
      "post": {
        "operationId": "signOutAccount",
        "x-pullwise-scope": "account:auth",
        "security": [],
        "tags": [
          "Authentication"
        ],
        "description": "Requires the current cookie session and a trusted Origin or Referer. Revoke only this session and clear pw_session; account identities, ledger data and billing remain intact. API keys cannot sign out a browser session.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthOrigin"
          }
        ],
        "responses": {
          "200": {
            "description": "Session revoked; pw_session is cleared with Max-Age 0",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/NoStore"
              },
              "Set-Cookie": {
                "$ref": "#/components/headers/AuthCookie"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED; a current cookie session is required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "UNTRUSTED_ORIGIN",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/email/request-code": {
      "post": {
        "operationId": "requestEmailCode",
        "x-pullwise-scope": "account:auth",
        "x-pullwise-max-body-bytes": 8192,
        "security": [],
        "tags": [
          "Authentication"
        ],
        "description": "Request a six-digit code for a normalized ASCII email address. purpose\nlogin verifies an existing email identity or registers a new account\nafter successful verification; it does not disclose account existence.\npurpose link requires the current cookie session, binds the challenge\nto that account and session, and never merges accounts. Changing an\nalready verified login email requires a separate flow and is rejected.\nAn email already owned by another account is rejected before sending\na code, creating a challenge or starting its send cooldown. Ownership\nis checked only for authenticated linking and rechecked at verification.\nA trusted Origin header and at most 8 KiB of strict JSON are required.\nA Referer header does not replace a missing Origin.\nOnly one challenge is active per email; explicit resend after 60 seconds\ninvalidates the earlier challenge. Codes expire after 600 seconds and\nare never returned or logged. Delivery uncertainty is not retried.\nSet-Cookie issues a random pw_email_challenge browser binding, Secure\nand HttpOnly with a 600-second lifetime; verification must use this same\nbrowser. The binding's SameSite policy follows the configured app origin.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/EmailAuthOrigin"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailCodeRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Code request accepted; only challenge metadata is returned",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/NoStore"
              },
              "Set-Cookie": {
                "$ref": "#/components/headers/AuthCookie"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailCodeChallenge"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED for link without a current cookie session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "UNTRUSTED_ORIGIN",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "EMAIL_ALREADY_LINKED for authenticated linking to another account's email before code sending or cooldown; EMAIL_CHANGE_NOT_SUPPORTED when replacing a different verified login email",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "REQUEST_TOO_LARGE; JSON exceeds 8 KiB",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "INVALID_INPUT; unknown fields, invalid email or unsupported purpose",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "EMAIL_RATE_LIMIT; email and source admission or the 60-second resend interval was exceeded",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/AuthRetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "EMAIL_AUTH_NOT_CONFIGURED, EMAIL_AUTH_UNAVAILABLE or EMAIL_SEND_UNAVAILABLE; no automatic resend",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/email/verify-code": {
      "post": {
        "operationId": "verifyEmailCode",
        "x-pullwise-scope": "account:auth",
        "x-pullwise-max-body-bytes": 8192,
        "security": [],
        "tags": [
          "Authentication"
        ],
        "description": "Verify the email, challenge ID and six-digit code using the original\npw_email_challenge cookie and a trusted Origin header. A Referer header\ndoes not replace a missing Origin. At most five\nincorrect codes are allowed per challenge. Success consumes the proof\nonce; replay never creates another session. Login atomically initializes\na new account when necessary, retains a previously registered account\nID, and issues Secure HttpOnly pw_session with a seven-day lifetime.\nLink requires the original authenticated session, preserves its cookie,\nuser ID, ledger and billing, and clears pw_email_challenge. An email\nalready owned by another account is rechecked and rejected with 409;\nno automatic account merge occurs. JSON is strict and bounded to 8 KiB.\nAll responses have Cache-Control no-store. Incorrect browser bindings\nnever consume one of the five code attempts.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/EmailAuthOrigin"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailCodeVerification"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verified account session; login sets pw_session, link keeps it and clears the challenge cookie",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/NoStore"
              },
              "Set-Cookie": {
                "$ref": "#/components/headers/AuthCookie"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSession"
                }
              }
            }
          },
          "400": {
            "description": "EMAIL_CODE_INVALID for wrong, replayed or browser-unbound proof; EMAIL_CODE_EXPIRED at the exact 600-second deadline",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED; the original link session was changed, revoked or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "UNTRUSTED_ORIGIN",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "EMAIL_ALREADY_LINKED or ACCOUNT_CHANGED; no account merge or overwrite of concurrent account facts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "REQUEST_TOO_LARGE; JSON exceeds 8 KiB",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "INVALID_INPUT; unknown fields or malformed email, challenge ID or code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "EMAIL_RATE_LIMIT or EMAIL_ATTEMPTS_EXCEEDED; no account or session write",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/AuthRetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "EMAIL_AUTH_NOT_CONFIGURED, EMAIL_AUTH_UNAVAILABLE or EMAIL_IDENTITY_UNAVAILABLE; no implicit identity repair",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/github/authorize": {
      "get": {
        "operationId": "authorizeGithubAccount",
        "x-pullwise-scope": "account:auth",
        "security": [],
        "tags": [
          "Authentication"
        ],
        "description": "Optional GitHub OAuth sign-in or explicit identity link. intent login\n(the default) signs in the account mapped to the stable GitHub numeric\nidentity. intent link requires a current cookie session and a trusted\nOrigin or Referer, binds the one-use ten-minute state to that account\nand session, and preserves its immutable ID and billing. It never\nmatches accounts using GitHub profile email. Repository authorization\nis a separate optional integration. redirectTo must stay within the\ntrusted app origin; an invalid destination falls back to /projects.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthOrigin"
          },
          {
            "name": "intent",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "login",
                "link"
              ],
              "default": "login"
            }
          },
          {
            "name": "redirectTo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Trusted app destination after OAuth"
          },
          {
            "name": "response",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "redirect"
              ]
            },
            "description": "Return an HTTP redirect instead of the JSON authorization URL"
          }
        ],
        "responses": {
          "200": {
            "description": "OAuth authorization URL",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/NoStore"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "url",
                    "mode"
                  ],
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "mode": {
                      "type": "string",
                      "const": "github"
                    }
                  }
                }
              }
            }
          },
          "302": {
            "description": "Redirect to the GitHub OAuth authorization URL"
          },
          "401": {
            "description": "UNAUTHENTICATED for explicit link without a current cookie session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "UNTRUSTED_ORIGIN for explicit link",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "INVALID_INPUT; unsupported intent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "GITHUB_NOT_CONFIGURED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/github/callback": {
      "get": {
        "operationId": "completeGithubAccountAuthorization",
        "x-pullwise-scope": "account:auth",
        "security": [],
        "tags": [
          "Authentication"
        ],
        "description": "Consume the one-use OAuth state and verify the actual GitHub identity. Explicit linking requires the original account and session at callback and commits identity mapping, user and session fences atomically. A GitHub identity already owned by another account returns 409 rather than merging accounts. Successful login sets a seven-day pw_session; successful linking retains the current session. Provider denial redirects to the trusted destination with github_error.",
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "error",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Trusted app redirect after sign-in or linking",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/NoStore"
              },
              "Set-Cookie": {
                "$ref": "#/components/headers/AuthCookie"
              }
            }
          },
          "400": {
            "description": "OAUTH_STATE_INVALID; absent, expired or consumed state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED; original link session is missing or changed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "GITHUB_IDENTITY_CONFLICT or ACCOUNT_CHANGED; account IDs and billing are preserved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "GITHUB_PROFILE_INVALID; no trusted numeric identity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/workspaces": {
      "get": {
        "operationId": "listWorkspaces",
        "x-pullwise-scope": "members:read",
        "security": [
          {
            "cookieSession": []
          },
          {
            "bearerKey": []
          }
        ],
        "description": "Cookie sessions list the personal ledger first and explicitly joined ledgers. A members:read key lists only its bound ledger. Reads never initialize data.",
        "responses": {
          "200": {
            "description": "Current accessible ledgers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "maxItems": 100,
                      "items": {
                        "$ref": "#/components/schemas/Workspace"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/members": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WorkspacePath"
        }
      ],
      "get": {
        "operationId": "listWorkspaceMembers",
        "x-pullwise-scope": "members:read",
        "security": [
          {
            "cookieSession": []
          },
          {
            "bearerKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Owner and current members",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "workspace"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "maxItems": 100,
                      "items": {
                        "$ref": "#/components/schemas/WorkspaceMember"
                      }
                    },
                    "workspace": {
                      "$ref": "#/components/schemas/Workspace"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/members/{userId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WorkspacePath"
        },
        {
          "name": "userId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "patch": {
        "operationId": "updateWorkspaceMember",
        "x-pullwise-scope": "members:write",
        "security": [
          {
            "cookieSession": []
          },
          {
            "bearerKey": []
          }
        ],
        "description": "Owner can grant Admin/Editor/Viewer. Admin can manage only Editor/Viewer. Owner cannot be changed or removed.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IfMatch"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "role"
                ],
                "properties": {
                  "role": {
                    "$ref": "#/components/schemas/AssignableRole"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated member with a new revision",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceMember"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          }
        }
      },
      "delete": {
        "operationId": "removeWorkspaceMember",
        "x-pullwise-scope": "members:write",
        "security": [
          {
            "cookieSession": []
          },
          {
            "bearerKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IfMatch"
          }
        ],
        "responses": {
          "204": {
            "description": "Removed; subsequent resource and key requests fail current membership checks"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/invites": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WorkspacePath"
        }
      ],
      "get": {
        "operationId": "listWorkspaceInvites",
        "x-pullwise-scope": "members:read",
        "security": [
          {
            "cookieSession": []
          },
          {
            "bearerKey": []
          }
        ],
        "description": "Owner/Admin only. Tokens and hashes are never returned by reads.",
        "responses": {
          "200": {
            "description": "Pending unexpired invitations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "maxItems": 100,
                      "items": {
                        "$ref": "#/components/schemas/WorkspaceInvitation"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "operationId": "inviteWorkspaceMember",
        "x-pullwise-scope": "members:write",
        "security": [
          {
            "cookieSession": []
          },
          {
            "bearerKey": []
          }
        ],
        "description": "Create an unassigned 24-hour invitation link with a role. The token is displayed once; the original inviter must approve an authenticated applicant before membership is granted. Financial roles do not grant GitHub access.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "role"
                ],
                "properties": {
                  "role": {
                    "$ref": "#/components/schemas/AssignableRole"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Invitation metadata and one-time token",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/WorkspaceInvitation"
                    },
                    {
                      "type": "object",
                      "required": [
                        "token"
                      ],
                      "properties": {
                        "token": {
                          "type": "string",
                          "pattern": "^pwi_[A-Za-z0-9_-]{43}$"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/invites/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WorkspacePath"
        },
        {
          "$ref": "#/components/parameters/Id"
        }
      ],
      "delete": {
        "operationId": "revokeWorkspaceInvitation",
        "x-pullwise-scope": "members:write",
        "security": [
          {
            "cookieSession": []
          },
          {
            "bearerKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IfMatch"
          }
        ],
        "responses": {
          "204": {
            "description": "Invitation permanently revoked"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          }
        }
      }
    },
    "/api/v1/workspace-invitations/preview": {
      "post": {
        "operationId": "previewWorkspaceInvitation",
        "x-pullwise-scope": "profile:read",
        "security": [
          {
            "cookieSession": []
          }
        ],
        "description": "Authenticated read without a join or write. Pending tokens check expiry and current inviter authority; legacy targeted tokens also check their stable recipient ID. The response includes the current applicant request when present. Pending requests grant no ledger permissions. An accepted token can recover only its approved applicant's current active membership, without restoring removed membership.",
        "requestBody": {
          "$ref": "#/components/requestBodies/InvitationToken"
        },
        "responses": {
          "200": {
            "description": "Invitation and applicant request or current approved membership",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceInvitationPreview"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "410": {
            "description": "INVITATION_EXPIRED, INVITATION_REVOKED, or INVITATION_ACCEPTED without a current active membership",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/workspace-invitations/accept": {
      "post": {
        "operationId": "acceptWorkspaceInvitation",
        "x-pullwise-scope": "profile:read",
        "security": [
          {
            "cookieSession": []
          }
        ],
        "description": "Submit the authenticated actor's join request and notify the original inviter through their durable inbox. This does not grant membership or consume the link. Each link permits at most 100 lifetime applicants. Existing pending or rejected requests replay read-only. One approved applicant consumes the link; removed-member generations advance only upon approval and old keys do not revive.",
        "requestBody": {
          "$ref": "#/components/requestBodies/InvitationToken"
        },
        "responses": {
          "200": {
            "description": "Existing pending or rejected applicant request without another write",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceInvitationPreview"
                }
              }
            }
          },
          "202": {
            "description": "Join request awaiting original inviter approval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceInvitationPreview"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "410": {
            "description": "INVITATION_ACCEPTED, INVITATION_REVOKED, or INVITATION_EXPIRED; no request or membership write",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/workspace-invitation-requests": {
      "get": {
        "operationId": "listWorkspaceInvitationRequests",
        "x-pullwise-scope": "members:read",
        "security": [
          {
            "cookieSession": []
          },
          {
            "bearerKey": []
          }
        ],
        "description": "Durable inbox for the current original inviter. Cookie sessions can read across currently authorized ledgers; a members:read key sees only its bound ledger. Returns up to 100 oldest actionable pending requests plus hasMore; expiry, revocation, consumed links and lost inviter authority remove requests from the actionable inbox. Reads never mark notifications or mutate data.",
        "responses": {
          "200": {
            "description": "Pending requests with applicant identity, invitation and ledger",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "hasMore"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "maxItems": 100,
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/WorkspaceJoinRequest"
                          },
                          {
                            "type": "object",
                            "required": [
                              "invitation",
                              "workspace"
                            ],
                            "properties": {
                              "invitation": {
                                "$ref": "#/components/schemas/WorkspaceInvitation"
                              },
                              "workspace": {
                                "$ref": "#/components/schemas/Workspace"
                              }
                            }
                          }
                        ]
                      }
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/join-requests": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WorkspacePath"
        }
      ],
      "get": {
        "operationId": "listWorkspaceJoinRequests",
        "x-pullwise-scope": "members:read",
        "security": [
          {
            "cookieSession": []
          },
          {
            "bearerKey": []
          }
        ],
        "description": "Current Owner/Admin only. Durable inbox scoped to this ledger and invitations created by the current actor. Returns up to 100 oldest actionable pending requests plus hasMore.",
        "responses": {
          "200": {
            "description": "Pending requests with applicant identity and ledger invitation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "hasMore"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "maxItems": 100,
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/WorkspaceJoinRequest"
                          },
                          {
                            "type": "object",
                            "required": [
                              "invitation",
                              "workspace"
                            ],
                            "properties": {
                              "invitation": {
                                "$ref": "#/components/schemas/WorkspaceInvitation"
                              },
                              "workspace": {
                                "$ref": "#/components/schemas/Workspace"
                              }
                            }
                          }
                        ]
                      }
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/invites/{id}/requests": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WorkspacePath"
        },
        {
          "$ref": "#/components/parameters/Id"
        }
      ],
      "get": {
        "operationId": "listWorkspaceInvitationJoinRequests",
        "x-pullwise-scope": "members:read",
        "security": [
          {
            "cookieSession": []
          },
          {
            "bearerKey": []
          }
        ],
        "description": "Current original inviter only. List up to 100 actionable pending applicants for this invitation.",
        "responses": {
          "200": {
            "description": "Pending join requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "hasMore"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "maxItems": 100,
                      "items": {
                        "$ref": "#/components/schemas/WorkspaceJoinRequest"
                      }
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/invites/{id}/requests/{requestId}/approve": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WorkspacePath"
        },
        {
          "$ref": "#/components/parameters/Id"
        },
        {
          "$ref": "#/components/parameters/JoinRequestPath"
        }
      ],
      "post": {
        "operationId": "approveWorkspaceJoinRequest",
        "x-pullwise-scope": "members:write",
        "security": [
          {
            "cookieSession": []
          },
          {
            "bearerKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IfMatch"
          }
        ],
        "description": "Current original inviter only. Atomically approve one pending request, grant the link's role, consume the link and append the audit event. Other pending applicants become unavailable. If-Match is the request revision; stale authority, membership or invitation revisions cannot commit partial changes.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Approved request and granted ledger membership",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceJoinReview"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "410": {
            "description": "Invitation no longer actionable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/invites/{id}/requests/{requestId}/reject": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WorkspacePath"
        },
        {
          "$ref": "#/components/parameters/Id"
        },
        {
          "$ref": "#/components/parameters/JoinRequestPath"
        }
      ],
      "post": {
        "operationId": "rejectWorkspaceJoinRequest",
        "x-pullwise-scope": "members:write",
        "security": [
          {
            "cookieSession": []
          },
          {
            "bearerKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IfMatch"
          }
        ],
        "description": "Current original inviter only. Reject a pending applicant and append the audit event without granting membership or consuming the invitation. The rejected applicant cannot resubmit on the same link. If-Match is the request revision.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rejected request and ledger summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceJoinReview"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "410": {
            "description": "Invitation no longer actionable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          }
        }
      }
    },
    "/api/v1/me": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "operationId": "getLedgerMe",
        "x-pullwise-scope": "profile:read",
        "responses": {
          "200": {
            "description": "Current identity, ledger capabilities and entitlements",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Me"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v1/repositories": {
      "get": {
        "operationId": "listLedgerRepositories",
        "x-pullwise-scope": "projects:read",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Current actor GitHub App repositories ordered by stable numeric ID; cursor is the last repository ID. No automatic binding or installation expansion",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RepositoryPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "502": {
            "description": "Invalid bounded GitHub response; error code GITHUB_RESPONSE_INVALID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "GitHub temporarily unavailable, rate limited, or credential decryption/configuration failure; no automatic retry or token refresh",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects": {
      "get": {
        "operationId": "listLedgerProjects",
        "x-pullwise-scope": "projects:read",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/From"
          },
          {
            "$ref": "#/components/parameters/To"
          },
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Accessible projects in the selected ledger and per-currency totals",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "operationId": "createLedgerProject",
        "x-pullwise-scope": "projects:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectInput"
              }
            }
          }
        },
        "responses": {
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "201": {
            "description": "Created project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/InvalidInput"
          }
        }
      }
    },
    "/api/v1/projects/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Id"
        }
      ],
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "operationId": "getLedgerProject",
        "x-pullwise-scope": "projects:read",
        "responses": {
          "200": {
            "description": "Project, including authorization state and totals",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateLedgerProject",
        "x-pullwise-scope": "projects:write",
        "parameters": [
          {
            "$ref": "#/components/parameters/IfMatch"
          },
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectPatch"
              }
            }
          }
        },
        "responses": {
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "200": {
            "description": "Updated project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          }
        }
      },
      "delete": {
        "operationId": "removeLedgerProject",
        "x-pullwise-scope": "projects:write",
        "security": [
          {
            "cookieSession": []
          },
          {
            "bearerKey": []
          }
        ],
        "description": "Current Owner of the selected ledger only. An Owner API key requires projects:write and permission for this project; Admin, Editor and Viewer cannot remove projects. Cookie writes require a trusted app Origin. Both forms require the current If-Match revision. Atomically tombstones the project, releases at most 30 repository associations and records the actual actor. Retains all financial, recurring and audit rows without a bulk cascade. The removed project's expenses and recurring rules become inaccessible, leave list/report/export results and cannot generate new expenses. Shared-pool expenses are unchanged. Capacity totals are not reclaimed. Repeating removal of the same authorized tombstone is read-only; PATCH cannot resurrect it.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IfMatch"
          },
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          },
          {
            "$ref": "#/components/parameters/AuthOrigin"
          }
        ],
        "responses": {
          "204": {
            "description": "Project removed or already removed within the same authorized ledger"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Revision or repository-binding limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "422": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "428": {
            "description": "If-Match is required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/categories": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "operationId": "listExpenseCategories",
        "x-pullwise-scope": "categories:read",
        "responses": {
          "200": {
            "description": "Selected ledger categories including archived entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Category"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "operationId": "createExpenseCategory",
        "x-pullwise-scope": "categories:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CategoryInput"
              }
            }
          }
        },
        "responses": {
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "201": {
            "description": "Created category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/InvalidInput"
          }
        }
      }
    },
    "/api/v1/categories/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Id"
        }
      ],
      "patch": {
        "operationId": "updateExpenseCategory",
        "x-pullwise-scope": "categories:write",
        "description": "Replace the category label with a required nonblank name. Omitted color becomes null. Archived categories cannot be renamed.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IfMatch"
          },
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CategoryInput"
              }
            }
          }
        },
        "responses": {
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "200": {
            "description": "Updated category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          }
        }
      },
      "delete": {
        "operationId": "archiveExpenseCategory",
        "x-pullwise-scope": "categories:write",
        "description": "Archive only; existing expenses retain their category reference.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IfMatch"
          },
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "responses": {
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "204": {
            "description": "Archived"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          }
        }
      }
    },
    "/api/v1/categories/{id}/remove": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Id"
        }
      ],
      "post": {
        "operationId": "removeExpenseCategory",
        "x-pullwise-scope": "categories:write",
        "description": "Permanently remove an unused active or archived category. Any reference\nin expenses (including deleted entries), durable expense history,\noriginal creation responses, recurring rules or chosen/accepted Jev\nsuggestions prevents removal. Evaluated candidate probabilities alone\ndo not prevent removal.\nReferenced categories must be archived instead; removal never deletes\nor rewrites expenses, schedules, history or idempotency responses.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/IfMatch"
          },
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Removed unused category"
          },
          "409": {
            "description": "CATEGORY_IN_USE; archive this category to retain its history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "428": {
            "description": "If-Match is required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/expenses": {
      "get": {
        "operationId": "listExpenses",
        "x-pullwise-scope": "expenses:read",
        "parameters": [
          {
            "$ref": "#/components/parameters/Target"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "$ref": "#/components/parameters/CategoryId"
          },
          {
            "$ref": "#/components/parameters/From"
          },
          {
            "$ref": "#/components/parameters/To"
          },
          {
            "$ref": "#/components/parameters/Currency"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Active expenses only",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpensePage"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "operationId": "createExpense",
        "x-pullwise-scope": "expenses:write",
        "description": "When the ledger owner's Pro or Max plan, activation gates and usage budget allow\nit, this ordinary write attempts Jev assistance for Cookie sessions and\nexpenses:write API keys alike. categoryId may be omitted on create:\na confident existing ledger category is then selected. Explicit\ncategories, targets, money and dates are never changed by inference. If a\ncategory cannot be selected, 422 CATEGORY_REQUIRED preserves the draft and\nreturns assistance for manual completion. Provider failure or exhausted Jev\nbudget does not block a write with an explicit category. Idempotent replay\nreturns the stored result without another model call or budget reservation.\nCapacity counts undeleted expenses in Shared pool and nonremoved\nprojects, including archived projects. If the Owner enabled automatic\nremoval, an at-capacity creation and deletion of the globally oldest\nactive expense share one transaction and one commercial write. The\nactual oldest target must be writable under the caller's current grant;\notherwise RETENTION_TARGET_FORBIDDEN is returned without creating or\ndeleting anything. Above-capacity ledgers return RETENTION_CLEANUP_REQUIRED\nand require manual cleanup. Invalid writes and replay never remove expenses.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpenseInput"
              }
            }
          }
        },
        "responses": {
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "201": {
            "description": "Created expense or exact idempotent replay",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Expense"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/InvalidInput"
          }
        }
      }
    },
    "/api/v1/expenses/export": {
      "get": {
        "operationId": "exportExpenses",
        "x-pullwise-scope": "expenses:read",
        "description": "Uses list filters; active records only. CSV cells must escape spreadsheet formulas.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Target"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "$ref": "#/components/parameters/CategoryId"
          },
          {
            "$ref": "#/components/parameters/From"
          },
          {
            "$ref": "#/components/parameters/To"
          },
          {
            "$ref": "#/components/parameters/Currency"
          },
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          },
          {
            "$ref": "#/components/parameters/WorkspaceQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Streamed CSV",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/expenses/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Id"
        }
      ],
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "operationId": "getExpense",
        "x-pullwise-scope": "expenses:read",
        "responses": {
          "200": {
            "description": "Active expense",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Expense"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateExpense",
        "x-pullwise-scope": "expenses:write",
        "description": "Send the complete editable expense input, including target, occurredOn,\namount, currency and purpose. This endpoint replaces those fields; it\ndoes not merge a partial body. Omitted note, quantity and unit become null.\nRequires the current If-Match revision before inference. Moving an\nexpense checks write authority on both old and new targets. When the\nledger owner's Pro or Max plan, activation gates and usage budget allow it,\ncategoryId may be omitted to select a confident existing active category.\nThe selected category must remain active at the atomic update, including\nwhen inference chooses the previous category. Explicit categories,\ntargets, money and dates are preserved; explicitly retaining the previous\narchived category is permitted. Unavailable or uncertain automatic\nclassification returns 422 CATEGORY_REQUIRED without updating the expense.\nAssistance uses the same daily and monthly budget as expense creation;\nadvisory target suggestions never move the expense.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/IfMatch"
          },
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpensePatchInput"
              }
            }
          }
        },
        "responses": {
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "200": {
            "description": "Updated expense",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Expense"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "422": {
            "$ref": "#/components/responses/InvalidInput"
          }
        }
      },
      "delete": {
        "operationId": "removeExpense",
        "x-pullwise-scope": "expenses:write",
        "description": "Soft delete and audit event; immediately excluded from list, export and reports.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IfMatch"
          },
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "responses": {
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "204": {
            "description": "Removed or already removed within the same authorized ledger"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          }
        }
      }
    },
    "/api/v1/expenses/{id}/review": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Id"
        }
      ],
      "post": {
        "operationId": "reviewExpense",
        "x-pullwise-scope": "expenses:write",
        "description": "Explicit advisory review of one current saved expense, bound to If-Match. The request is an empty object; clients cannot replace saved purpose, note, money, category or target. Requires the ledger Owner's current Pro or Max plan and the actual actor's expense-write and target authority. Jev selects and scores existing category/scope choices; it does not generate explanations or reports. Only this saved record's purpose and note and current active category names enter the model. Categories and target kinds are advice only; no expense, financial audit, recent activity, revision, record count or commercial write allowance is changed. Model attempts share the existing 20 per UTC day and Pro USD 3 / Max USD 5 per UTC month reservation; admitted failures remain charged. With no active categories the model can still check target kind. Disabled, failed or invalid model context returns partial checks while the local duplicate rule remains available. That bounded rule checks at most 30 other current records on the same authorized target, with equal currency and amount, within seven dates, and a case-insensitive matching purpose. It does not prove ledger-wide uniqueness. Duplicate output contains only ID and revision, including for write-only keys. Saved source, permissions, category and duplicate candidate are freshly rechecked and atomically fenced before results are published; a source changed during review returns 412. There is no automatic apply, target move, money update, retry, batch endpoint or idempotent model replay.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IfMatch"
          },
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "maxProperties": 0,
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Structured dimension checks for the unchanged saved revision",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseReview"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "JEV_PLAN_REQUIRED for a noncurrent paid Owner plan, or current actor/scope/target authority forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "422": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "428": {
            "description": "If-Match is required before model admission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "SUGGESTION_LIMIT at the existing daily attempt limit or JEV_BUDGET_LIMIT at the shared monthly reservation limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/expense-recurring-rules": {
      "get": {
        "operationId": "listRecurringExpenseRules",
        "x-pullwise-scope": "expenses:read",
        "security": [
          {
            "cookieSession": []
          },
          {
            "bearerKey": []
          }
        ],
        "description": "Current ledger rules excluding canceled entries. Reads never generate expenses. Session and expenses:read key readers use the same DTO; keys see only targets permitted by their current restrictions.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Target"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/WorkspaceHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated rules",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecurringExpensePage"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/InvalidInput"
          }
        }
      },
      "post": {
        "operationId": "createRecurringExpenseRule",
        "x-pullwise-scope": "expenses:write",
        "security": [
          {
            "cookieSession": []
          },
          {
            "bearerKey": []
          }
        ],
[...]
